@import 'aos/dist/aos.css';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
 /* Añade esto a tu CSS/SCSS global (styles.css o styles.scss) para fijar el menú móvil */
@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: rgba(33, 37, 41, 0.98) !important;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }
}